@model RoomFlow.Models.Employee

@{
    ViewData["Title"] = "Добавить сотрудника";
}

<h1>Добавить сотрудника</h1>

<hr />

<form asp-controller="Employees" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="_EmployeeForm" />
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
